# PHP / Composer
vendor/
composer.lock
.env
*.log
backend/src/config.php

# C++ compilado
build/
*.o
*.obj
*.exe
wasm/out/*.wasm

# Node / npm
node_modules/

# Editor y S.O.
.vscode/
.idea/
Thumbs.db
.DS_Store